/* Variable definition */
:root {
    --primary: #272343;
    --data-row: #E3F6F5;
    --data-row-hover: #BAE8E8;
    --data-header: #909090;
    --body: #333333;
    --form-input: #E5E5E5;
    --division-lines: #C4C4C4;
    --dark: #333;
}

/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Manjari', sans-serif;
    color: #333;
}


/* Utility classes */
.btn-primary {
    background-color: var(--primary);
    color: white;
    margin-right: 1rem;
    padding: 10px 15px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    transition: background .3s ease-in-out;
}

.btn-primary:hover {
    color: var(--primary);
    background: #fff;
    box-shadow: 2px 3px 3px var(--division-lines);
}


.search-input {
    background-color: var(--form-input);
    border: none;
    border-radius: 5px;
    padding-left: 1rem;
    font-family: 'Manjari', sans-serif;
    font-size: 1rem;
}

/* CRUD container */
.crud-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
/* CRUD Header */
.crud-header {
    border-bottom: 1px var(--division-lines) solid;
}
.crud-header h1 {
    font-family: 'Exo 2', sans-serif;
    color: var(--primary);
    font-size: 3rem;
    border-left: 12px var(--data-row-hover) solid;
    padding-left: .8rem;
    margin-bottom: .8rem ;
}

/* CRUD Actions Section */
.actions {
    display: flex;
    margin: 1.5rem 0rem;
}
.actions .search-input {
    margin-left: auto; /* Push Search field to the right */
}

/* Data */

/* Data headers */
.data h2 {
    color: var(--data-header);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: .9rem;
    cursor: pointer;
    transition: color .3s ease-in-out;
}
.data .data-header .column-header:hover {
    color: var(--data-row-hover);
    transform: translateX(2px);
}
.data .data-header .column-header {
    display: flex;
}
.data .data-header .column-header img {
    visibility: hidden;
    transform: scale(.6);
}

/* Data rows */
/* This must be overwritted by each data type */
.data .data-header,
.data .data-body .data-row {
    display: grid;
    grid-template-columns: 70px auto 250px;
    margin-bottom: .8rem;
    align-items: center;
    font-size: .9rem;
}
.data .data-body .data-row * { /* To give some space for the order arrows */
    margin-left: .75rem 
}
.data .data-body .data-row {
    background: var(--data-row);
    padding: 1rem 0;
    border-radius: 7px;
    transition: all .3s ease-in-out;
}
.data .data-body .data-row:hover {
    background: var(--data-row-hover);
    box-shadow: 3px 4px 4px var(--division-lines);
}

.code {
    color: #fff;
    background: var(--dark);
    font-family: 'Open Sans', sans-serif;
    border-radius: 50%;
    padding: .5rem;
}

.crud-actions {
    display: grid;
    grid-template-columns: 40px 70px 70px;
}
.crud-actions a {
    padding: .3rem 0;
    text-decoration: none;
    color: var(--primary);
    transition: text-shadow .2s ease-in-out;
}
.crud-actions a:hover {
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px var(--primary);
}
.crud-actions a:nth-child(n+2) {
    border-left: #333 solid 1px;
    padding-left: .75rem
}
